{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/media-base.css' %}">
    {% block extra-styles %}{% endblock extra-styles %}
</head>

<body>
    <div class="container">
        <header>
            <div class="menu">
                <div class="logo"></div>
                <ul>
                    <li><a href="/">главная</a></li>
                    <li><a href="/categories">каталог</a></li>
                    <li><a href="/materials">материалы</a></li>
                    <li><a href="/sales">скидки</a></li>
                    <li><a href="/about-us">о нас</a></li>
                    <li><a href="/articles">статьи</a></li>
                    <li><a href="/contacts">связь с нами</a></li>
                </ul>
            </div>
            <div class="info-block">
                <div class="info-text">
                    <h1>добро пожаловать, мы изготавливаем мебель под заказ</h1>
                </div>
                <div class="numbers">
                    <ul>
                        <li><h2>+375296516350</h2></li>
                        <li><h2>+375296516350</h2></li>
                        <li><h2>+375296516350</h2></li>
                    </ul>
                </div>
                <button class="request-btn">Оставить заявку</button>
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <div class="pre-footer">
                <div class="small-menu">
                    <ul>
                        <li><a href="#" class="second-link"> главная</a></li>
                        <li><a href="#" class="second-link"> каталог</a></li>
                        <li><a href="#" class="second-link"> материалы</a></li>
                        <li><a href="#" class="second-link"> скидки</a></li>
                        <li><a href="#" class="second-link"> о нас</a></li>
                        <li><a href="#" class="second-link"> статьи</a></li>
                        <li><a href="#" class="second-link"> связь с нами</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer">
                <div class="me">
                    <h1>was created by Maksim Lin</h1>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>