{% extends 'base.html' %}
{% load staticfiles %}
{% block extra-styles %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
<link rel="stylesheet" href="{% static 'css/media-categories.css' %} ">
{% endblock extra-styles %}
{% block content %}


<div class="categories">
    <a href="/categories/kitchens" class="link">
        <div class="categories-item kitchens">
            <h2>кухни</h2>
        </div>
    </a>
    <a href="/categories/wardrobes" class="link">
        <div class="categories-item wardrobes">
            <h2>шкафы-купе</h2>
        </div>
    </a>
    <a href="/categories/showcases" class="link">
        <div class="categories-item showcases">
            <h2>витрины</h2>
        </div>
    </a>
    <a href="/categories/lounges" class="link">
        <div class="categories-item lounges">
            <h2>гостиные</h2>
        </div>
    </a>
    <a href="/categories/offices" class="link">
        <div class="categories-item offices">
            <h2>мебель для офиса</h2>
        </div>
    </a>
    <a href="/categories/closets" class="link">
        <div class="categories-item closets">
            <h2>гардеробные</h2>
        </div>
    </a>
    <a href="/categories/hallways" class="link">
        <div class="categories-item hallways">
            <h2>прихожие</h2>
        </div>
    </a>
    <a href="/categories/child" class="link">
        <div class="categories-item child">
            <h2>детские</h2>
        </div>
    </a>
    <a href="/categories/others" class="link">
        <div class="categories-item others">
            <h2>кровати, комоды, тумбы</h2>
        </div>
    </a>
</div>

{% endblock content%}