{% extends 'base.html' %}
{% load staticfiles %}
{% block extra-styles %}
{% endblock extra-styles %}
{% block content %}
<div class="contacts">
    <div class="form-block">
        <form action="/contacts/" method="POST">
            {% csrf_token%}
            {% for field in forms %}
                <label class="" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="input">
                    {{field}}
                </div>
            {% endfor %}
            <button>Отправить</button>
        </form>
    </div>
</div>

{% endblock content %}