* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url('../images/main-photo.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    height: 1000px;
}

.menu {
    width: 20%;
    background: rgba(8, 7, 8, 0.9);
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    width:100%;
    color: white;   
    text-transform: uppercase;
}

.menu ul li a{
    text-align: center;
    padding: 30px 0;
    display: block;
    text-decoration: none;
    color: white;  
    width: 100%;
    height:100%; 
    transition: all 0.3s
}

.menu ul li a:hover{
    background-color: white;
    color:black;
}

.info-block {
    width: 20%;
    text-align: center;
    padding-right: 10%;
}

.info-text {
    padding-top: 30px;
    text-transform: uppercase;
}

.info-text h1 {
    color: white;
}

.numbers {
    margin-top: 30px;
    list-style-type: none;
    color:white;
}

.request-btn {
    display: block;
    margin-left: 5%;
    margin-top: 10%;
    text-transform: uppercase;
    color:white;
    border-radius: 14px;
    border-color: white;
    background: none;
    padding:10px 30px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.4s linear, transform 0.3s linear;
    width: 50%;
}

.request-btn:hover {
    background-color: #e4ae58;
}

.pre-footer {
    border-top: 1px solid black;
}

.small-menu ul {
    margin-top: 30px;
    margin-bottom: 30px;
    display:flex;
    justify-content: space-around;
    text-transform: uppercase;
}

.small-menu ul li{
    list-style-type: none;
}

.second-link{
    color:black;
    text-decoration: none;
}

.second-link:hover{
    background-color: black;
    color:white;
}

.footer{
    background-color: black;
    padding: 30px;
}

.me{
    color: white;
    text-transform: uppercase;
    text-align: center;
}