.categories{
    width: 100%;
    margin: 0 auto;
    background-image: url('../images/background.jpg');
    background-size: repeat;
}

.categories-item{
    display: block;
    padding-top: 30px;
}

.item-title{
    text-align: center;
    text-transform: uppercase;
    color:white;
    padding: 10px;
    background-color:black;
}

.description{
    margin-top: 10px;
    color: white;
    padding: 10px;
}

.types{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.type{
    display: block;
    width: calc(100%/3);
    text-decoration: none;
}

.type-item{
    display: flex;
    height: 350px;
    background-size: cover;
    transition: all 0.5s;
}

.sandblast{
    background-image: url('../images/pesko-1.jpg');
}

.sandblast:hover{
    background-image: url('../images/pesko-2.jpg');
}

.photoprint{
    background-image: url('../images/photoprint.jpg');
}

.photoprint:hover{
    background-image: url('../images/photoprint-2.jpg')
}

.decorative{
    background-image: url('../images/decorate-1.jpg');
}

.decorative:hover{
    background-image: url('../images/decorate-2.jpg');
}

.leather{
    background-image: url('../images/ek-1.jpg');
}

.leather:hover{
    background-image: url('../images/ek-2.jpg');
}

.ldsp{
    background-image: url('../images/ldsp-1.jpg');
}

.ldsp:hover{
    background-image: url('../images/ldsp-2.jpg');
}

.kronospan{
    background-image: url('../images/kronospan-1.jpg')
}

.kronospan:hover{
    background-image: url('../images/kronospan-2.jpg')
}

.swisspan{
    background-image: url('../images/swisspan-1.jpg');
}

.swisspan:hover{
    background-image: url('../images/swisspan-2.jpg');
}

.swisspan-natur{
    background-image: url('../images/natur-1.jpg');
}

.swisspan-natur:hover{
    background-image: url('../images/natur-2.jpg');
}

.leaf{
    background-image: url('../images/leaf-1.jpg');
}

.leaf:hover{
    background-image: url('../images/leaf-2.jpg');
}

.blum{
    background-image: url('../images/blum-1.jpg');
}

.blum:hover{
    background-image: url('../images/blum-2.jpg');
}

.hettich{
    background-image: url('../images/hettich-1.jpg');
}

.hettich:hover{
    background-image: url('../images/hettich-2.jpg');
}

.type-name{
    text-transform: uppercase;
    margin: auto;
    color:white;
    padding: 10px;
    background-color:black;   
}

.block{
    margin-top:30px;
}

.name{
    background-color: black;
    color:white;
    text-align: left;
    width: auto;
    font-size: 30px;
}

.text{
    color:white;
    margin-left: 10px;
}

.photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo img{
    height: 200px;
}

.benefit-links{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.benefit-links a{
    color:white;
    text-decoration: none;
    transition: all 0.5s;
}

.benefit-links a:hover{
    color:blue;
}

